@charset "UTF-8";
@import "../helpers/variables";
@import "../helpers/mixins";
@import "../vendor/font-awesome/variables";
@import "../components/progress-bars";
@import "../components/metadata";
@import "../components/sidemenu";
@import "../components/search";

$header-footer-color: darken($body-bg, 0.8%);
$header-footer-border: #c7c7c7;

#user-nav-tabs {
  margin: 20px 0;
}

// w menu bocznym profilu uzytkownika, zmniejszamy wciecie
.side-menu li a {
  padding-left: 2px;
}

#profile {
  .user-photo {
    float: left;

    > .btn-pm {
      margin-top: 20px;
      display: block;
    }

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }

  h1 {
    margin-top: 0;
    padding-left: 4px;

    @media screen and (max-width: $screen-sm) {
      font-size: $font-size-large;
    }
  }

  .position {
    font-size: 15px;
    color: $gray;
    padding-right: 0;

    small {
      font-size: 80%;
      vertical-align: top;
      padding-top: 4px;
      display: inline-block;
      color: $gray-light;
    }
  }

  .location {
    color: $gray-light;
    font-size: 13px;
  }

  .list-inline {
    margin-left: 0;

    li {
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .statement {
    padding: 0 0 0 30px;
    position: relative;
    font-size: 14px;
    margin: 20px 0 17px 2px;

    &:after {
      @include font-awesome($fa-var-quote-left);
      top: 0;
      left: 0;
      color: $gray-light;
    }
  }
}

#box-reputation, #box-posts {
  margin-top: 22px;
}

#box-reputation {
  .chart-bar {
    border-top: 1px solid $border-color;
    margin-top: 10px;
    padding-top: 10px;
  }

  .reputation-item {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid $border-color;
    font-size: 12px;

    > div {
      padding-left: 3px;
    }

    small {
      display: block;
    }

    .well {
      margin: 10px 0 0 0;
    }

    .headline {
      font-weight: normal;
      color: $link-color-darker;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

#box-stats {
  margin: 0 auto 10px auto;
  font-size: $font-size-small;

  li {
    text-align: right;
    border: none;

    strong {
      display: inline-block;
      width: 20%;
    }
  }
}

#wrap {
  position: relative;
  max-height: 280px;
  overflow: hidden;
}

.well.empty-result {
  background-position: center left;
  margin-bottom: 0;
  min-height: 68px;
  padding: 12px 0;
}

#users-header-container {
  background-color: $header-footer-color;
  border-bottom: 1px solid $header-footer-border;

  .nav-tabs {
    margin-bottom: -1px;
    border-bottom: none;
  }
}

#users-main-content {
  padding-top: 15px;

  .pagination {
    margin-top: 5px;
  }
}

#box-users {
  table {
    border: 1px solid $border-color;
    background: #fff;
    border-radius: 3px;
    margin: 0 1px 1px 1px;
    width: 100%;
    table-layout: fixed;
  }

  tr {
    &:nth-child(even) {
      background-color: #fafafa;
    }

    td {
      padding: 5px;
      border-bottom: 1px solid $border-color;
    }

    .col-avatar {
      width: 64px;
    }

    .col-body {
      h2 {
        font-size: 15px;
        margin: 0 0 5px 0;
        float: left;

        @media screen and (max-width: $screen-xs) {
          font-size: 14px;
        }
      }

      p {
        font-size: 12px;
        clear: both;
        padding: 0;
        line-height: 1.4;
        margin: 0;
      }

      small {
        color: $gray-light;

        a {
          font-size: 11px;
          color: inherit;
        }
      }

      // extra margin for tags
      .tag-clouds {
        margin-top: 4px;
      }

      @media screen and (max-width: $screen-xs) {
        padding-left: 5px;
      }
    }
  }
}

